<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <ba-card title="Modals" class="modal-buttons">
        <button class="btn btn-primary" (click)="staticModal.show()">Static modal</button>
      </ba-card>
    </div>
  </div>
  <div class="row">

  </div>
</div>

<!-- Static modal -->
<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Static modal</h4>
      </div>
      <div class="modal-body">
        This is static modal, backdrop click will not close it.
        Click <b>&times;</b> or confirmation button to close modal.
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary confirm-btn" (click)="staticModal.hide()">Save changes</button>
      </div>
    </div>
  </div>
</div>
