<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Here you can see your friend list</h4>
                <br>
                <input type="text" [(ngModel)]="friendsEmail" style="float:right" class="col-md-2"  placeholder="Email address" />
                <button (click)="addFriend()" style="position:absolute;top:7px; right:32px" class="btn btn-success">Add friend</button>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div>
  <div class="row">
    <div style="margin-bottom: 50px" class="col-md-3" *ngFor="let friend of friends">
      <a style="position:absolute;top:0px;left:50%;" class="btn btn-danger btn-xs" (click)="deleteFriend(friend)">
        <i class="fa fa-trash-o fa-fw"></i>Delete
      </a>
      <div style="cursor: pointer;" class="panel panel-default" (click)="navigateToFriendsDetails(friend.id)">
        <img style="width:30%; height:30%" [id]="'image'" [name]="'image'" [src]="friend.picture" class="img-responsive">
        <div style="text-align:center"><b style="margin-top: 0;">Name: {{friend.firstName}} {{friend.lastName}}</b></div>
        <div style="text-align:center"><b style="margin-top: 0;">Level: {{friend.level}}</b></div>
        <div *ngIf="friend.isOnline" style="text-align:center"><b style="margin-top: 0;">
          Online: <img style="width:6%; height:6%; display:inline"  [id]="'image'" [name]="'image'" src="http://www.clker.com/cliparts/u/g/F/R/X/9/green-circle.svg" class="img-responsive"></b>
        </div>
        <div class="row" style="text-align:center;margin-top:5px;">
          <img style="width:3%; height:2%;display:inline"
               src="https://rpgmaker.net/media/content/games/4468/screenshots/hp_potion.png"/>
          <b>{{friend.health}}%</b>
        </div>
        <div *ngIf="!friend.isOnline" style="text-align:center"><b style="margin-top: 0;padding-left: 5px">
          Online: <img style="width:7%; height:7%; display:inline"  [id]="'image'" [name]="'image'" src="http://www.clker.com/cliparts/Q/l/D/8/k/m/red-circle-icon.svg" class="img-responsive"></b>
        </div>
      </div>
    </div>
  </div>
</div>



<style>
#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 180px;
}
</style>
