<div style='background-color:  #636363; padding-top: 0; color: #ffffff;' class="container-fluid custom-modal-container">
    <div class="row modal-header">
        <div class="col-sm-12">
            <h4 class="modal-title" *ngIf="task">Edit task</h4>
            <h4 class="modal-title" *ngIf="!task">Create task</h4>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-12">
            <div class="form-group">
                <label>Task name</label>
                <input type="text" class="form-control" [(ngModel)]="task.name" placeholder="Enter task name" required />
            </div>
        </div>
        <div class="col-md-6">
             <div class="form-group">
                <label>Difficulty</label>
                <ng-select [items]="difficulties" [active]="[selectedDifficultyValue]" (selected)="selectedDifficulty($event)"
                    placeholder="No difficulty selected">
                </ng-select>
                <p></p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Deadline</label>
                <input class="form-control" [(ngModel)]="task.dueDate" year="2016" month="12" close-on-select="false" date-format="YYYY-MM-DD HH:mm:ss.s" ng2-datetime-picker required />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" [(ngModel)]="task.description" placeholder="Enter description" style="resize: vertical;"></textarea>
            </div>
        </div>
        <div class="col-md-6" *ngIf="categories">
            <div class="form-group">
                <label>Category</label>
                <ng-select [allowClear]="true" [items]="categories" [disabled]="disabled" (selected)="selected($event)" (removed)="removed($event)"
                    placeholder="No category selected">
                </ng-select>
                <p></p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" *ngIf="!selectedCategory">
                <label>New Category</label>
                <input type="text" class="form-control" [(ngModel)]="task.category.name" placeholder="Enter a new category">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer" style='background-color:  #636363'>
    <div class="btn-group">
        <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-default" (click)="save()">
            <span *ngIf="task">Save</span>
            <span *ngIf="!task">Add</span>
        </button>
    </div>
</div>
